#carouselp{
	float: right;

}
.box > div{
	border: 2px solid #007bff;
	border-radius: 10px;
	height: 80px;
	float: right;
	box-shadow: 0px 5px 5px 0px #007bff;
}
body{
	background-color:/* #f1f2f4*/;
}
.btnc{
	position: relative;
	transform: bottom;
	left: 20px;
}

/*@media (min-device-width:600px) {
    .card{
        width:30%;
    }
}

@media (min-device-width:800px) {
    .card{
        width:100%;
    }
}
*/.wi{
	width: 420px!important;
}
.hicon{
	font-size: 40px!important;
	color: #007bff!important; 

	
}
#scrollUp {
             bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    opacity: .9;
    padding: 10px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
              
              
              /* Height of image */
          }
   #scrollUp:hover{
    background-color:;
}

.cardg{
	height: 200px!important;

}
.cardcap{
	height: 485px!important;
	width: 100%;
    background-color: #f2f2f2;
	/*border: 2px solid #f2f2f2;
	box-shadow: 0px 5px 5px 0px #f2f2f2;*/

}
.cardl{

	border: 5px solid #f2f2f2;
	box-shadow: 0px 0px 5px 0px #007bff;


  
}
.card6c button:hover{

    background-color: #3a99fc;
    
     
}
.card6l{

border: 2px solid #007bff;
  border-radius: 10px;
    box-shadow: 0px 5px 5px 0px #007bff;

   height: 730px;
   padding: 5px; 
   margin: 20px;
}
